.app-header {
  background-color: #37474f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block-nav {
  padding: 20px;
}

.block-select {
  padding: 20px;
  width: 200px;
}

.nav-icon {
  color: aliceblue;
  cursor: pointer;
  font-size: 200%;
  user-select: none;
}

.date-header {
  color: aliceblue;
}
