<div class="app-header">
  <div class="block-nav">
    <span class="material-icons nav-icon" (click)="toggleHiddenNav()">list</span>
  </div>

  <div class="date-header">
    <span>
      {{date | date: 'mediumDate'}}
    </span>
  </div>

  <div class="block-select">
    <app-custom-select [options]="selectOptions"
                       [placeholder]="selectorPlaceholder"
                       [startValue]="false"
                       [currentSelected]="false"
                       (selectOption)="onChangedSelect($event)">
    </app-custom-select>
  </div>
</div>
