.auth-window {
  width: 400px;
  background-color: white;
  padding: 20px;

  .auth-title {
    font-size: 1.5rem;
  }

  .registrationLink {
    text-align: center;
  }

  .registrationLink a:visited,
  .registrationLink a:active,
  .registrationLink a:link {
    text-decoration: none;
  }
  .registrationLink a:hover {
    text-decoration: none;
    color: red;
  }
}
