<div class="block">
  <div class="header">
    <h1>Счёт</h1>
    <button class="button-submit" (click)="refresh()"><span class="material-icons">autorenew</span></button>
  </div>

  <div class="content" *ngIf="(currency$ | async) as currency; else loader">
    <div class="score" *ngIf="(bases$ | async) as bases">
      <h2 style="padding-bottom: 30px">Счёт в валюте</h2>
      <p style="padding-bottom: 5px; padding-top: 5px; border-bottom: 2px solid white" *ngFor="let base of bases | keyvalue">
        <span>{{base.value | currency: base.key}}</span>
      </p>
    </div>
    <div class="exchange-rates">
      <h2 style="padding-bottom: 20px">Курс валют</h2>
      <table>
        <thead>
          <tr>
            <td>Валюта</td>
            <td>Курс</td>
            <td>Дата</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cur of currency.rates | keyvalue">
            <td>{{cur.key}}</td>
            <td>{{cur.value}}</td>
            <td>{{currency.date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #loader>
    <div class="loading">
      <div class="spinner loading-spinner"></div>
    </div>
  </ng-template>
</div>
