.profile {
  padding: 20px;
  background-color: white;
  height: 100%;

  header {
    h1 {
      padding-bottom: 20px;
      border-bottom: lightgrey solid 1.3px;
    }
    padding-bottom: 20px;
  }

  section {
    width: 300px;
  }
}
